*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.sinistra{
    width: 120px;
    height: calc( 100vh - 56px );
    background-color: #051e34;
    background-image: url( ../img/sidebar-bg.png);
}
.mio-card-height{
    height: calc( 100vh - 56px );
    overflow-y: scroll;
}
.destra{
    width: calc( 100% - 120px);
}
.sinistra a{
    color: white;
    text-decoration: none;
}
.sinistra a:hover{
    background-color: rgba(0, 0, 0, 0.3);
}
.mio-blue{
    background-color: #1b72e8;
}
.mio-blue-bottone{
    background-color: #165bba;
}
.mio-f-size-bottom{
    font-size: 0.75;
}
.mio-w2rem{
    width: 2rem;
}