*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sinistra{
    width: 120px;
    height: calc( 100vh - 56px );
    background-color: black;
}
.height100-{
    height: 100%;
}
.destra{
    width: calc( 100% - 120px);
    background-color: aqua;
}
.sinistra a{
    color: white;
    text-decoration: none;
}
.mio-blue{
    background-color: #1b72e8;
}
.mio-blue-bottone{
    background-color: #165bba;
}
.mio-f-size-bottom{
    font-size: 0.75rem;
}